.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f5f7fa;
}

.app-content {
  flex: 1;
  padding-bottom: 0;
  overflow-y: auto;
  
  &.has-tab-bar {
    // TabBar高度一般为50px，加上安全区域高度
    padding-bottom: 50px;
  }
} 