/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, img, a {
  margin: 0;
  padding: 0;
}
  
  /* 设置默认字体 */
body, button, input, select, textarea {
  font-family: 'Tahoma', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
  
  /* 重置列表元素 */
ul, ol {
  list-style: none;
}
  
  /* 重置文本格式元素 */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
  
  /* 重置表单元素 */
input, button, select, textarea {
  border: none;
  outline: none;
}
  
  /* 重置图片和对象元素 */
img, object {
  border: none;
  vertical-align: top;
}
  
/* 重置强调元素 */
em, strong {
  font-style: normal;
  font-weight: normal;
}
  
/* 重置按钮样式 */
button {
  background: none;
}
  
/* 重置选择框样式 */
select {
  background: url("arrow.png") no-repeat right center;
}
  
/* 重置输入框占位符样式 */
input::placeholder {
  color: #888;
}

:root:root {
  --adm-color-primary: #db8132;
}